<div id="main">
    <article class="post">
        <header>
            <div class="title">
                <h2>{{title}}</h2>
            </div>
        </header>
        <p>This category is still being workshopped. Check back soon for times</p>
    </article>
</div>

<section id="sidebar">
    <section id="intro"> 
        <a href="#" class="logo"><img src="/taco_bell.png"></a>
        <header>
            <h2>baja blast%</h2>
            <p>idk something about baja blast?</p>
        </header>
    </section>
</section>
