<div id="main">
    
    <section id="intro">
        <a href="#" class="logo"><img src="/taco_bell.png"></a>
        <header>
            <h2>Taco Bell Speedruns</h2>
            <p>IRL speedruns</p>
        </header>
    </section>
    <!-- Intro -->
    <article class="post">
        <p>This is the official leaderboards for IRL Taco Bell Speedruns.</p>
        <p>All submissions should be submitted to James for review. SHOULD. Ultimately, he has no power.</p>
    </article>                    
</div>



